body {
    text-align: center;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}

.bg-img-container {
    overflow: hidden;
}

.bg-img {
    background-image: url("images/morse-background3.png");
    background-repeat: repeat-x;
    position: 0 0;
    height: 100vh;
    width: 5760px;
    animation: slide 30s linear infinite;
}

main {
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0px;
}

h1 {
    color: #00B4D8;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    margin: 3% auto;
    padding: 0 10px 0;
}

form {
    display: inline-block;
    width: 30%;
    padding-bottom: 10px;
}

.text-box {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    background-color: #F0F0F0;
    border-width: 0;
    margin-bottom: 10px;
    box-shadow: 40px 40px 10px rgba(0, 0, 0, 0.3);
}

textarea {
    background-color: inherit;
    width: 100%;
    height: 250px;
    border-width: 0px;
}

.edit-button-group {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 100%;
}

.edit-button {
    background-color: transparent;
    border: none;
    outline: none;
    width: 20%;
}

.text-box:hover .edit-button-group{
    display: inline-block;
}

.edit-button:hover {
    color: red;
}

.main-button {
    position: relative;
    z-index: 0;
    font-size: 32px;
    font-family: 'Lobster', cursive;
    width: 45%;
    background-color: transparent;
    border-color: #F0F0F0;
    color: #F0F0F0;
}

.left-button {
    border-radius: 25px 0px 0px 25px;
}

.right-button {
    border-radius: 0px 25px 25px 0px;
}

.main-button:hover {
    border-color: #F0F0F0;
    color: #F0F0F0;
    background-color: #54BAB9;
    background-image: linear-gradient(to bottom right, #00B4D8, #FF5C8D);

}

audio::-webkit-media-controls-enclosure {
    border-radius: 0px 25px 25px 0px;
}

.load-audio-button {
    position: relative;
    bottom: 22px;
    height: 54px;
    width: 54px;
    border-width: 0px;
    padding: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body-cont {
        width: 90%;
    }

    .form-cont {
        width: 70%;
    }

    .column {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .body-cont {
        width: 90%;
    }

    .form-cont {
        width: 70%;
    }

    .column {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .body-cont {
        width: 90%;
    }

    .column {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .body-cont {
        width: 70%;
    }

    .column {
        width: 45%
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1250px) {
    .body-cont {
        width: 50%;
    }

    .column {
        width: 45%
    }
}
