body {
    text-align: center;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px);
  }
}

.bg-img-container {
    overflow: hidden;
    height: 100vh;
}

.bg-img {
    background-image: url("images/morse-background6.png");
    background-repeat: repeat-x;
    position: 0 0;
    height: 100vh;
    width: 5760px;
    animation: slide 30s linear infinite;
}

main {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
}

h1 {
    color: #00B4D8;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    margin: 3% auto;
    padding: 0 10px 0;
}

form {
    display: inline-block;
    width: 100%;
    padding: 0px 10% 0px;
    margin-bottom: 10px;
}

.text-box {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    background-color: #F0F0F0;
    border-width: 0;
    margin-bottom: 10px;
    box-shadow: 40px 40px 10px rgba(0, 0, 0, 0.3);
}

textarea {
    background-color: inherit;
    width: 100%;
    height: 250px;
    border-width: 0px;
}

.edit-button-group {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 100%;
}

.edit-button {
    background-color: transparent;
    border: none;
    outline: none;
    width: 20%;
}

.text-box:hover .edit-button-group{
    display: inline-block;
}

.edit-button:hover {
    color: #d8005a;
}

.main-button {
    position: relative;
    z-index: 0;
    font-size: 32px;
    font-family: 'Lobster', cursive;
    width: 45%;
    background-color: transparent;
}

.main-button:disabled {
    opacity: 0.5;
}

.left-button {
    border-radius: 25px 0px 0px 25px;
    border-color: #d8005a;
    color: #d8005a;
}

.right-button {
    border-radius: 0px 25px 25px 0px;
    border-color: #00B4D8;
    color: #00B4D8;
}

.left-button:hover {
    background-color: #d8005a;
    color: #F0F0F0;
}

.right-button:hover {
    background-color: #00B4D8;
    color: #F0F0F0;
}

a {
    color: #00B4D8;
}

.load-audio-button {
    position: relative;
    bottom: 22px;
    height: 54px;
    width: 54px;
    border-width: 0px;
    border-radius: 25px 0px 0px 25px;
    padding: 0px;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0px 25px 25px 0px;
}

@media only screen and (max-height: 720px) {
    .bg-img-container, .bg-img {
        height: 720px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 5vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    form {
        padding: 0px 15% 10px;
    }
    h1 {
        margin-top: 5vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    form {
        padding: 0px 20% 10px;
    }
    h1 {
        margin-top: 8vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    form {
        padding: 0px 28% 10px;
    }
    form, .text-box {
        margin-bottom: 15px;
    }
    h1 {
        margin-top: 10vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
    form {
        padding: 0px 32% 15px;
    }
    form, .text-box {
        margin-bottom: 15px;
    }
    h1 {
        margin-top: 10vh;
    }
}
