{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Morse Coder{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<body>
<div>
    <div>
        <div>
            <h1>Morse Coder</h1>
        </div>
    </div>
</div>

<div class="form-cont">
    <div>
        <div>
            <form>
                <textarea name="user-input" class="text-box" id="" cols="30" rows="10">{{ text_fill }}</textarea>
                <br>
                <button class="btn btn-primary btn-lg" type="submit" formaction="{{ url_for('encode') }}" formmethod="post">Encode</button>
                <button class="btn btn-danger btn-lg" type="submit">Clear</button>
                <button class="btn btn-primary btn-lg" type="submit" formaction="{{ url_for('decode') }}" formmethod="post">Decode</button>
            </form>
            <br>
            <p>{{ morse_code }}</p>
        </div>
    </div>

</div>

</body>
{% endblock %}